<!DOCTYPE html>
<html>
  <head>
   	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>all code</title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
    	<div class="row-fluid">
    			<% result.forEach(function(item){ %>
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
					  	<button class="btn btn-success" style="margin:5px 0;" value="<%=item%>"><%=item%></button>
					</div>
				<% }) %>
    	</div>
    </div>

    <!-- Large modal -->
    <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>-->

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="line-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: 800px;height:600px;"></div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed bootstrap.min-->
    <script type="text/javascript" src='/javascripts/jquery-1.10.2.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap.min.js' ></script>
    <script type="text/javascript" src='/javascripts/echarts.min.js' ></script>
    <script type="text/javascript">
        $(function () {
            $('.btn').on('click',function () {
                console.log('click btn')
                let code = $('.btn').val()
                console.log('check code--->',code)
                $.ajax({
                    url:'/rzrq',
                    async: true,
                    dataType: 'json',
                    type: 'POST',
                    data: {"code":code},
                    success: function(result){
                        console.log('result is--->',result)
                        if(result.errCode == 0){
                            console.log(result.result.jysj_arr)
                            console.log(result.result.rzmr_arr)
                            // 基于准备好的dom，初始化echarts实例
                            let myChart = echarts.init(document.getElementById('main'));
                            //let myChart = echarts.init();

                            // 指定图表的配置项和数据
                            let option = {
                                tooltip: {
                                    trigger: 'axis',
                                    position: function (pt) {
                                        return [pt[0], '10%'];
                                    }
                                },
                                title: {
                                    left: 'center',
                                    text: '大数据量面积图',
                                },
                                toolbox: {
                                    feature: {
                                        dataZoom: {
                                            yAxisIndex: 'none'
                                        },
                                        restore: {},
                                        saveAsImage: {}
                                    }
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: result.result.jysj_arr
                                },
                                yAxis: {
                                    type: 'value',
                                    boundaryGap: [0, '100%']
                                },
                                dataZoom: [{
                                    type: 'inside',
                                    start: 0,
                                    end: 10
                                }, {
                                    start: 0,
                                    end: 10,
                                    handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                                    handleSize: '80%',
                                    handleStyle: {
                                        color: '#fff',
                                        shadowBlur: 3,
                                        shadowColor: 'rgba(0, 0, 0, 0.6)',
                                        shadowOffsetX: 2,
                                        shadowOffsetY: 2
                                    }
                                }],
                                series: [{
                                    name:'rzrq',
                                    type:'line',
                                    smooth:true,
                                    symbol: 'none',
                                    sampling: 'average',
                                    itemStyle: {
                                        normal: {
                                            color: 'rgb(255, 70, 131)'
                                        }
                                    },
                                    areaStyle: {
                                        normal: {
                                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                                offset: 0,
                                                color: 'rgb(255, 158, 68)'
                                            }, {
                                                offset: 1,
                                                color: 'rgb(255, 70, 131)'
                                            }])
                                        }
                                    },
                                    data: result.result.rzmr_arr
                                }]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                            $('#line-modal').modal('show')
                            //$('#line-modal').text(result.errMsg)
                            //location.href = '/manage/login';
                            //location.href = '/manage/approve';
                        }
                        if(result.errCode == -1){
                            console.log('fail')
                            //alert('登录成功')
                            //window.location.href = '/reserve/manage/approve'
                        }
                    },
                    error: function(e){
                        console.log('error ',e)
                    }
                })
            })
        })

    </script>
  </body>
</html>
